// FONTS

$main-font-family: "RobotoCondensed-Light";
$menu-font-family: "RobotoCondensed-Regular";
$font-cappadocia: "balqis";
$font-italic: "RobotoCondensed-LightItalic";

// COLORS

$main-font-color: #000;
$accent-color: #e2ab3f;
